<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Welcome to Chatbot</h2>
        <form action="/chatbotReply" method="post">
            <p>Please state your query : </p>
            <p><input type ="text" name="q"</p>
            <p><input type="submit" value="Enter"></p>
        </form>
        <form action="/main" method="post">
            <p><input type="submit" value="Main"></p>
        </form>
    </div>
</body>
